@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilos gerais */
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Estilo para o menu do cabeçaho */
header nav ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #4B4B4B;
    text-decoration: none;
    padding: 0px 10px;
}

header {
    img {
        width: 143px;
        height: 34px;
    }
}

/* Estilo para o header */
#top {
    display: flex;

    img {
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .top-list {
        margin-top: 5px;

    }
}

.top-list .top-link:hover {
    color: #0046c0;
}

/* Estilo para o menu de navegação */

.nav_bar {
    li {
        margin-left: 50px;
        margin-right: -40px;
        padding: 16px;
        font-size: 12px;
        font-weight: 500;
    }
}

.btn_login {
    display: flex;
    margin-left: 990px;
    padding: 15px;
}

.btn_bar {
    letter-spacing: 0.6px;
    border-radius: 4px;
    width: 150px;
    height: 32px;
    border: 1px solid #0046c0;
    cursor: pointer;

    a {
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        color: #0046c0;
    }

    li {
        padding: 5px;
    }

}

.fotos {
    display: flex;
    justify-content: space-between;

    img {
        width: 200px;
        margin-left: 25px;
        border: 3px solid #000000;
        border-radius: 50%;
    }

    .integrante_content {
        padding: 40px;

    }

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caixa-integrante {
        position: relative;
        margin-top: -70px;
        border: 3px solid #000000;
        border-radius: 20px;
        background-color: #007AFF;
    }

}

.integrante-link {
    text-decoration: none;
}

.integrante_social_media {
    display: flex;
    gap: 1rem;
    margin-top: px;
}

.integrante_social_media .integrante-link {
    display: flex;
    justify-content: center;
    width: 70px;
    color: var(--color-neutral-40);
    margin-top: 5px;
    margin-bottom: 5px;

    i {
        font-size: 25px;
    }
}

.nav_arrow {
    display: flex;

    li {
        margin-top: -10px;
        margin-bottom: 4px;
        font-weight: bold;
    }

}

.nav-list .nav-link:hover {
    color: #0046c0;
}

.nav-list {
    margin-bottom: 10px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    padding: 0 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

hr {
    width: 100%;
}

/* Estilo para o main */
.conteudo {
    display: absolute;
    width: 100%;
    height: 480px;
    background-color: #00A1FC;
    color: #FFFFFF;

    h1 {
        font-size: 55px;
        padding: 10px 30px;
    }

    p {
        font-size: 32px;
        font-weight: 400;
        padding: 0px 30px;
    }

}

.conteudo2 {
    height: 250px;
    background-color: #ffffff;

    h1 {
        display: absolute;
        margin-top: 15px;
        margin-left: 35px;
    }

    .seguro {
        display: inline-flex;
        flex-direction: column;
        margin-left: 80px;
    }

    .seguro2 {
        display: inline-flex;
        flex-direction: column;
        margin-left: 60px;
    }

    .banner {
        font-weight: 300;
        font-size: 19px;
        margin-left: 135px;
        margin-top: 35px;
    }
}

/* Estilo para o footer */
footer {
    width: 100%;
    color: var(--color-neutral-40);
}


.footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 1rem;
}

.footer-link {
    text-decoration: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
    list-style: none;
    margin-left: 60px;

    h3 {
        margin-left: -22px;
    }
}


.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #555555;
}

.footer-list2 {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin-left: 60px;
}

.footer-list2 .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list2 .footer-link:hover {
    color: #555555;
}

#footer-bar {
    display: flex;
    background-color: #000000;
    font-size: 12px;
    padding: 4px;
    font-weight: 100;

    p,
    a {
        text-decoration: none;
        color: #ffffff;
        margin-top: 15px;
        margin-left: 40px;
        margin-bottom: 15px;
    }
}

#footer-bar .footer-link {
    color: var(--color-neutral-40);
    transition: all 0.4s;
}

#footer-bar .footer-link:hover {
    color: #a8a29e;
}

#footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}

#footer_social_media .footer-link {
    display: flex;
    height: 32px;
    width: 40px;
    color: var(--color-neutral-40);
    transition: all 0.4s;

    i {
        font-size: 27px;
    }
}


:root {
    --color-neutral-0: #000000;
    --color-neutral-10: #000000;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

@media screen and (max-width: 768px) {

    /* Estilo para o header */
    #top {
        flex-direction: column;
        height: auto;
    }

    /* Estilo para o menu de navegação */
    .nav_bar {
        flex-direction: column;
        align-items: center;
    }

    .nav_bar li {
        margin: 20px 0;
    }

    .btn_login {
        margin-left: 0;
        justify-content: center;
    }

    /* Estilo para o main */
    .conteudo {
        height: auto;
    }

    .conteudo h1,
    .conteudo p {
        margin-left: 20px;
    }

    /* Estilo para o footer */
    .footer_content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-list,
    .footer-list2 {
        margin-left: 0;
    }
}